button {
  background: #9ad2a0;
  color: white;
  border: none;
  border-radius: 3px;
  min-width: 12vw;
  min-height: 2.4em;
  margin: 0.25em 0 0.25em 0;
}

.concern-definition {
  text-align: center;
  position: relative;
}

.definition-image {
  max-width: 20vw;
}